.idea
*.iml
java/target/
out/
*config.properties
*log4j.properties
.DS_Store
tmp/

*.class

./python/config/__init__.pyt
python/bin/
python/eggs/
python/parts/
python/elin_sync.egg-info/
python/develop-eggs/
